@import url('https://fonts.googleapis.com/css2?family= Lagosta +Two & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    overflow: hidden;
}

.background{
    background: linear-gradient(rgba(189, 28, 28, 0.5), rgba(27, 5, 5, 0.733));
    background-image: url(Saude.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.cabecalho-link{
    display: flex;
    gap: 3rem;
    font-weight: 200;
    cursor: pointer;
}

.cabecalho-link a{
    color: green;
    font-size: 12px;
}

.cabecalho-link a :hover{
    color: blue;
    transition: 0.3s all;
}

.logo{
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid green;
    color: green;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}

button{
    color: green;
    background: transparent;
    border: solid 1px green;
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    width: 150px;
    cursor: pointer;
}

button:hover{
    background-color:green;
    color: white;
    transition: 0.5s;
}

.container-text{
    padding: 150px 0 0 130px;
}

.text h1{
    color: green;
    font-size: 15px;
}

.text span{
    color: green;
}

.text p{
    color: blue;
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
}

footer img{
    width: 40px;   
    height: 40px;
}

footer{
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
}

